
*{
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}
body{
  width: 100vw;
  height: 100vh;
  background-color: gray;
}
.nav{
  width: 100%;
  height: 50px;
  background-color: white;
  position: relative;
  display: flex;
}
.nav-border{
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: blue;
  bottom: 0%;
  z-index: 2;
}
.nav-button{

height: 100%;
background-color: white;
position: relative;
display: flex;
align-items: center;
justify-content: center;
}

.first-sibiling-deactive-item{
  margin-right:10px ;
}
.activeitem .left-part{
  position: absolute;
  left: -50px;
  width: 50px;
  height: 100%;
  background-color: blue;
  display: flex;
  justify-content: start;
  align-items: center;
  border-top-right-radius: 15px;
}
.activeitem .right-part{
  position: absolute;
  right: -50px;
  width: 50px;
  height: 100%;
  background-color: blue;
  z-index: 1;
  border-top: 1px solid #000000;
}

.activeitem .button{
  background-color: blue;
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.left-part-child{
  width: 100%;
  height: 100%;
  background-color: white;
  border-bottom-right-radius: 50px;
  border-top: 1px solid #000000;
  border-top-right-radius: 15px;

}
.right-part-child{
  width: 100%;
  height: 100%;
  background-color: white;
  border-bottom-left-radius: 50px;
}

.other-sibiling-item{
  border-top: 1px solid black;
  /* border-left:1px solid black ; */
  border-top-right-radius: 30px;
}

.first-sibiling-deactive-item{
  border-top: 1px solid black;
  /* border-left:1px solid black ; */
  border-top-right-radius: 30px;
}
.inactive-div-border{
  position: absolute;
  width: 100px;
  height: 100%;
  background-color:white;
  right: 0%;
  display: flex;
}
.inactive-1{
  width: 50%;
  height: 50%;
  background-color: white;
  border-right: 1px solid black;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;

}
.inactive-2{
  width: 50%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: end;
  justify-content: end;
}
.inactive-3{
  width: 100%;
  height: 50%;
  background-color: white;
  border-bottom-left-radius: 80px;
  /* border-bottom-right-radius: 80px; */
  /* border-bottom-right-radius: 50px; */
  border-bottom: 1px solid black;

  

}